// Cores Principais

$primary-orange: #FE914C;
$primary-yellow: #FFC66D;

// Cores Complementares

$baby-blue: #BAECFF;
$light-yellow: #FACB00;
$lighter-orange: #FACB00;
$light-orange: #F5951F;
$orange: #E9750F;
$dark-orange: #DE4B28;
$brown: #946C66;
$clean-red: #ED6A5E;

// Cores claras

$light-1: #FDFDFD;
$light-2: #f6f6f6;
$light-3: #D3D3D3;
$white: #FFFFFF;

// Cores Acinzentadas

$grey: #ACACAC;
$light-grey: #BFBFBF;
$lighter-grey: #dadada;

// Cores escuras

$black: #000000;